$blackBackground:'../assets/img/black75.png';
$kugiSrc:'../assets/img/searchslideup_btn.png';
$logo_f:'../assets/img/logo_f.png';
$footerLinks:'../assets/img/footerlinks.png';
$backtop_icon:'../assets/img/backtotop_icon.png';
.footerUs {
  width: 100%;
  background: #eddcbd url($blackBackground) repeat;
  background-size:100% 100%;
  padding-top:10px;
  padding-bottom: 10px;
  padding-top:0.1rem;
  padding-bottom: 0.1rem;
  position:relative;
  overflow-y: hidden;
  .searchBar{
    background:rgba(0,0,0,0.5);
    width:100%;
    height:68px;
    height:0.68rem;
    position:fixed;
    left:0;
    bottom:-58px;
    bottom:-0.58rem;
    transition:bottom 0.5s;
    -moz-transition:bottom 0.5s; /* Firefox 4 */
    -webkit-transition:bottom 0.5s; /* Safari and Chrome */
    -o-transition:bottom 0.5s; /* Opera */
    z-index: 9999;
    .content{
      width:50%;
      margin:10px auto;
      height:48px;
      width:10rem;
      margin:0.1rem auto;
      height:0.48rem;
      span{
        &.kugi{
          height:48px;width:48px;
          background:url($kugiSrc) 0px -0.48rem no-repeat;
          background-size: 0.48rem 0.96rem;
          display: inline-block;
          height:0.48rem;
          width:0.48rem;
        }
        &.kugi_locked{
          height:48px;width:48px;
          background:url($kugiSrc) 0px -0px no-repeat;
          background-size: 0.48rem 0.96rem;
          display: inline-block;
          height:0.48rem;
          width:0.48rem;
        }
      }
      .searchform_div {
        display: inline-block;
        width: 50%;
        height: 48px;
        height:0.48rem;
        background: #fff;
        position: relative;
        overflow: hidden;
        input.text {
          height: 48px;
          line-height: 48px;
          border: none;
          background: #fff;
          width: calc(100% - 100px);
          padding: 14px;
          font-size: 14px;
          color: #333;
          overflow: hidden;
          height:0.48rem;
          line-height: 0.48rem;
          padding:0.15rem;
          font-size: 0.14rem;
          width:calc(100% - 1rem);
          &:hover{
            border:none;
          }
        }
        input.submit {
          position: absolute;
          right: 0px;
          height: 48px;
          width: 100px;
          color: #fff;
          font-size: 14px;
          background: #ff3232;
          border: none;
          font-weight: bold;
          height:0.48rem;
          width:1rem;
          font-size: 0.14rem;
          &:hover{
            border:none;
          }
        }
      }
    }
  }
}
.footerContent{
  position:relative;
  display:block;
  width:10rem;
  margin:0px auto;
  overflow-y: hidden;
}
.el-header, .el-footer {
  text-align: center;
}
.el-main {
  padding:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: hidden;
}
.visitUs{
  width:50%;
  color:white;
  font-size:small;
  .topImg {
    width: 100%;
    height: 0.7rem;
    background: url($logo_f) 0px 0.15rem no-repeat;
    background-size: 2.4rem 0.7rem;
  }
  ul{
    list-style: none;
    padding-left:0;
    margin-top:0;
    margin-bottom:0;
    li strong{
      font-size:0.16rem;
      padding: 0 0.04rem;
      color: #ff3232;
      font-weight: bold;
      font-family: arial;
    }
  }
}

.scanUs{
  width:50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .scanBox{
    display: inline-block;
    width:1.05rem;
    height:1.05rem;
    color:#AAAAAA;
    font-size: small;
    font-size:0.12rem;
    text-align: center;
    div.img{
      display: inline-block;
      width:1.05rem;
      height:1.05rem;
    }
  }
}

.weibologo{
  background: url($footerLinks) 0px 0px no-repeat;
  background-size: 4.2rem 1.05rem;
  position:relative;
  .footer{
    position: absolute;
    height:20%;
    width:100%;
    left:0;
    bottom:0;
    color:white;
  }
}
.qqzonelogo{
  background: url($footerLinks) -1.05rem 0px no-repeat;
  background-size: 4.2rem 1.05rem;
  position:relative;
  .footer{
    position: absolute;
    height:20%;
    width:100%;
    left:0;
    bottom:0;
    color:white;
  }
}
.weixinqrcode{
  background: url($footerLinks) -2.10rem 0px no-repeat;
  background-size: 4.2rem 1.05rem;
}
.downloadqrcode{
  background: url($footerLinks) -3.15rem 0px no-repeat;
  background-size: 4.2rem 1.05rem;
}
.el-footer {
  font-size: small;
  border-top: 1px gray solid;
  margin-top:0.25rem;
  overflow-y: visible;
  ul{
    list-style: none;
    color:#AAAAAA;
    margin-top:20px;
    maring-top:0.2rem;
    margin-bottom:0px;
    padding-left:0;
    li{
      display: inline-block;
      width:1rem;
      &:hover{
        background:#ff3232;
        color:white;
        border-radius: 5px;
        border-radius:0.05rem;
      }
    }
  }
  span{
    color:#666666;
    padding:0;
  }
}

.backtotop {
  position: fixed;
  height: 48px;
  width: 48px;
  height:0.48rem;
  width:0.48rem;
  background: url($backtop_icon) 0px 0px no-repeat;
  background-size: 0.48rem 0.96rem;
  right: calc(25% - 0.48rem);
  bottom: 30px;
  bottom:0.3rem;
  opacity: 1;
  transition: bottom 0.5s, opacity 0.5s;
  -moz-transition: bottom 0.5s, opacity 0.5s; /* Firefox 4 */
  -webkit-transition: bottom 0.5s, opacity 0.5s; /* Safari and Chrome */
  -o-transition: bottom 0.5s, opacity 0.5s; /* Opera */
  z-index: 9999;
  &:hover {
    background: url($backtop_icon) 0px -0.48rem no-repeat;
    background-size: 0.48rem 0.96rem;
  }
}
