$arrowImgSrc:'../../assets/img/index_arrow.gif';
$fixerImgSrc:'../../assets/img/ztfixer.gif';
.menuContainer{
  width:100%;
  overflow-x: hidden;
}

.moreMenu{
  position:relative;
  display:block;
  width:10rem;
  margin:0px auto;
  .leftCover{
    position:absolute;
    display: block;
    width:50%;
    height:100%;
    top:0;
    left:-50%;
    background: #eddcbd;
    z-index: 999;
  }
  .rightCover{
    position:absolute;
    width:50%;
    height:100%;
    top:0;
    right:-50%;
    background: #eddcbd;
    z-index: 999;
  }
  .el-carousel__arrow--left{
    z-index: 1000;
    position: absolute;
    top:50%;
    transform:translate(-100%,-50%);
    height: 130px;
    width: 130px;
    background: url($arrowImgSrc) 0px 0px no-repeat;
    cursor: pointer;
    /*加上下面两句，把动画去掉*/
    -webkit-transition: 0s;
    transition: 0s;
    &:hover{
      background: url($arrowImgSrc) -130px 0px no-repeat;
    }
  }
  .el-carousel__arrow--right{
    z-index: 1000;
    position: absolute;
    top:50%;
    transform:translate(100%,-50%);
    height: 130px;
    width: 130px;
    background: url($arrowImgSrc) 0px -130px no-repeat;
    cursor: pointer;
    /*加上下面两句，把动画去掉*/
    -webkit-transition: 0s;
    transition: 0s;
    &:hover{
      background: url($arrowImgSrc) -130px -130px no-repeat;
    }
  }
  .el-icon-arrow-left{
    visibility: hidden;
  }
  .el-icon-arrow-right{
    visibility: hidden;
  }
  .el-carousel{
    overflow-x:visible;
  }
  .el-carousel__indicators--outside{
    text-align:center;position:static;-webkit-transform:none;transform:none;
    bottom:0.26rem;
    button{
      background-color:#c0c4cc;
      opacity:.24
    }
    .el-carousel__indicator{
      &:hover button{
        opacity:.24
      }
      &.is-active button{
        background-color:red;
        opacity:.64
      }
    }
  }
  .el-carousel__button {
    display: block;
    opacity: .48;
    /*width: 30px;*/
    /*height: 5px;*/
    width:0.3rem;
    height:0.05rem;
    background-color: #fff;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s
  }
  .el-carousel__container{
    height:5.5rem;
  }
  .menuBox{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    height:100%;
    width:100%;
    align-content: stretch;
  }
  .innerBox{
    display:inline-block;
    height:48%;
    width:32.5%;
    position:relative;
    img{
      display:block;
      height:70%;
      width:100%;
    }
    .note{
      display:block;height:30%;
      height:0.916rem;
      width:100%;position:absolute;bottom:0px;left:0px;background: #fff;
      h2{
        font-family:Microsoft Yahei;
        font-weight: 400;
        font-size:0.2rem;
        margin-top:0.1rem;
        margin-bottom:0.1rem;
        padding-left:0.25rem;
        color:#4A4A4A;
        text-overflow: ellipsis;
        white-space:nowrap;
        overflow:hidden;
      }
      span{
        font-size:0.1rem;
        padding-left:0.25rem;
        text-overflow: ellipsis;
        white-space:nowrap;
        overflow:hidden;
      }
    }
  }
  .fixer{
    display:block;
    height:0.1rem;
    width:100%;position:absolute;
    bottom:0.916rem;
    left:0px;background:url($fixerImgSrc) 0px 0px no-repeat;overflow:hidden;
    background-size:100% 0.1rem;
  }
}
